.disc-library-config
tokens.json
credentials.json
group_c40c69e8-f198-3ed3-9843-25c8b605eed5_library_detailed.json
group_c40c69e8-f198-3ed3-9843-25c8b605eed5_library.bib
short_names.tmp
new.bib
__pycache__